/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #3dadbb;
  --error: #e7195a;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}
header {
  background: #fff;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}
/* homepage */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.grocery-details {
  background: #fff;
  border-radius: 25px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.grocery-details h3 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.grocery-details p {
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  font-size: 0.9em;
  color: #555;
}
.grocery-details span {
  cursor: pointer;
  background: #f1f1f1;
  border-radius: 50%;
  color: #333;
}
.grocery-details .check  {
  /* box-shadow: 1px 1px 1px 1px; */
  background-color: rgba(9, 147, 9, 0.28);
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 1px;
}

.grocery-details .delete  {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 2px;
}
label, input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 25px;
  box-sizing: border-box;
}
form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 15px;
  font-family: "Poppins";
  border-radius: 25px;
  cursor: pointer;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 25px;
  margin: 20px 0;
}
form.signup, form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}
form.signup button, form.login button {
  padding: 10px;
  border-radius: 10px;
}
nav {
  display: flex;
  align-items: center;
}
nav button {
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
  margin-left: 10px;
}
nav a {
  margin-left: 10px;
  width: 50px;
  border-radius: 4px;
  padding: 5px;
  background-color: var(--primary);
  box-shadow: 5px 5px;
}
nav a:active {
  /* background-color: rgb(82, 31, 31); */
  box-shadow: 0px 0px;
}
button:active {
  transform: scale(0.94);
}